*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

.bg-Lxs {
    background-color: #f8f8a9;
}
































/* footer */
footer {
    width: 100%;
    background-color: #e6fd36;
    height: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
/*nosotros.html*/
.nosotros{
    margin: 0 auto;
    width: 80%;
   text-align: center;
   background-position: center;
}
.Nosotros-img{
    text-align: center;
}
.anchofooter {
    margin-top: 30px;
    background-color: #e6fd36;
}
.redes{
    display: inline-block;
}
.redes {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}
.bi-instagram:hover {
    color: aquamarine;
}
.bi-whatsapp {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}
.bi-whatsapp:hover {
    color: #36fd36;
}
/*** TRANSFORMS ***/
.card.mt-3{
    background-color: antiquewhite;
    
}
.card.mt-3:hover {
    transform: scale(1.1) translateY(-60px);
}

